server {
    listen 80;
    client_max_body_size 20M;
    server_name {{ domain_name }};

    location /.well-known/acme-challenge/ {
        alias /var/www/letsencrypt/.well-known/acme-challenge/;
        try_files $uri =404;
        access_log off;
    }

    location / {
        rewrite ^(.*)$ https://{{ domain_name }}$1 permanent;
    }
}
