description "uWSGI server instance configured to serve my project"

start on runlevel [2345]
stop on runlevel [!2345]

setuid {{ ansible_ssh_user }}
setgid www-data

env PATH=/home/{{ ansible_ssh_user }}/{{ venv_name }}/bin
chdir /home/{{ ansible_ssh_user }}/{{ app_name }}
exec uwsgi --ini uwsgi.ini
